body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #000;
}

.header {
    background-color: #a52a2a;
    color: white;
    padding: 80px;
    position: relative;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 85% 100%, 0 100%)
}

.header h1 {
    font-size: 100rem;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
    line-height: 0;
    margin-left: 30px;

}

.header h2 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #000;
    margin-left: 30px;
}

.header p {
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 15px;
    color: white;
    margin-left: 30px;

}

.section {
    padding: 40px;
    background-color: white;
    margin-bottom: 20px;
}

.section-title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 800;
    margin-left: 50px;
}

.section-triangle {
    width: 0%;
    height: 0px;
    border-left: 35px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 55px solid #a52a2a;
    margin-right: 10px;
    margin-left: 30px;
}

.clubs-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    align-items: start;
    margin-left: 30px;
    font-weight: 800;
}

.club-item {
    text-align: center;
    margin-left: 26px;
    margin-right: 26px;
}

.club-name {
    font-size: 12px;
    color: #a52a2a;
    font-weight: 800;
    line-height: 1.4;
}

.footer {
    background-color: #a52a2a;
    color: white;
    padding: 40px;
    text-align: left;
    position: relative;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 85% 100%, 0 100%)
}

.footer h3 {
    font-size: 28px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: 1px;
    clip-path: polygon(50%);
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

.header h1 {
    font-size: 32px;
}

.club-badge {
    width: 30px;
    height: 30px;
}

.club-item h4 {
    font-size: 16px;
    color: brown;
    line-height: 1;
    margin: 0%;
}

.club-item p {
    line-height: 1;
    margin: 0%;
}